// html, body{
// 	height: 100%;
// }

// .backgroundOpacity {
//   width: 100%;
//   height: 100%;
//   display: block;
//   position: relative;
// }

// .backgroundOpacity::after {
// 	background: url('../img/water.png') center center fixed no-repeat rgba(72, 126, 142, .8);
// 	background-size: cover;
// 	content: "";
// 	opacity: 0.2;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	position: absolute;
// 	z-index: -1;   
// }

html{
	height: 100%;
}

#bod{
	height: 100%;
	background: url('../img/water.png') center center fixed no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.8);
}

main{
	height: 100%;
	display: flex;
	justify-content: space-around;
	// align-items: stretch;
	flex-flow: row wrap;
}

main p{
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-size: 1.8em;
	width: 30%;
}

#breathe{
	font-size: 2em;
	font-weight: bold;
}

span{
	font-weight: bold;
}

.hide{
    animation-name: hide-animation; 
    animation-duration: 10s;
    animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in;
}

@keyframes hide-animation{
	0%{
		opacity: 0;
	}

	50%{
		opacity: 1;
	}

	100%{
		opacity: 0;
		visibility: hidden;
	}
}

.active {
    animation-name: active-animation; 
    animation-duration: 2s;
    animation-iteration-count: 1;
	animation-delay: 0s;
	animation-timing-function: ease-in;
}

@keyframes active-animation{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
		visibility: visible;
	}
}
.noVis{
	visibility: hidden;
}
.vis{
	visibility: visible;
}

@media only screen and (max-width: 916px){
	main{
		flex-flow: column-reverse;
		width: 100%;
		justify-content:flex-start;
	}
	main p {
		font-size: 1.25;
		width:100%;
	}
	#breathe{
		order: 5;
	}
	.extra{
		display: none;
	}
}